@import '../../shared/palette.scss';

.btl-featuredproducts {
  .btl-featuredproducts-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $color7;
    margin-bottom: 0.75em;
  }

  .btl-featuredproducts-link {
    color: #2185d0;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;

    &:hover {
      color: #3793da;
    }
  }
}