@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,200&display=swap');

.btl-mission-description {
  .btl-mission-description-header {
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.12em;
    font-family: 'Muli', sans-serif;
    color: #333333;
    margin-bottom: 0.7em;
  }

  .btl-mission-description-body {
    font-size: 1.2em;
    line-height: 1.7;
    color: #666666;
    font-family: 'Muli', sans-serif;
  }

  .btl-mission-description-image {
    width: 100%;
  }
}

.btl-MaskBenefits {
  margin-top: 3em;
  margin-bottom: 3em;

  width: 100%;
}

.btl-CardContainer {
  width: 100vh;
  display: flex;
  justify-content: center;
  padding: 5em;

  .btl-Card {
    margin: 0em 2em;
  }
}

.btl-divider {
  color: #00ebb0;
  background-color: #00ebb0;
  height: 0.2em;
  border-radius: 1em;
  width: 15em;
  border: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.btl-BadgeContainer {
  display: flex;
  justify-content: center;
  margin: 0em 10em;
  padding: 5em;

  img {
    width: 10em;
    margin: 0em 8em;
  }
}

.btl-MaskContainer {
  margin-top: 1.5em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
