.btl-mission-description {

  .btl-mission-description-header {
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 0.12em;
    color: #333333;
  }

  .btl-mission-description-body {
    font-size: 1.8em;
    line-height: 1.7;
    color: #666666;
    font-weight: 600;
    width: 35em;
  }
}

.btl-cardContainer {
  margin-top: 15em;
}
