@import '../../shared/palette';

@font-face {
  font-family: 'BlackBerry';
  src: url('../../assets/BlackBerryJam.ttf') format('truetype');
}

.btl-logo {
  margin-top: 0.5em;
  font-family: 'BlackBerry';
  color: $color9;
  font-size: xx-large;
}