@font-face {
  font-family: 'BlackBerry';
  src: url('../../assets/BlackBerryJam.ttf') format('truetype');
}

.btl-logo {
  font-family: 'BlackBerry';
  color: white;
  padding: 2em;
  font-size: xx-large;
}