.btl-mask-gallery {
  margin-top: 1.5em;
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  .btl-product-focus-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .btl-product-content-container {
      display: flex;
      justify-content: space-between;
    }

    .btl-product-cancel {
      height: fit-content;
      max-height: 2.6em;
    }
  }

  .btl-product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8em;

    .btl-product-content-inner {
      display: flex;
      flex-direction: column;
    }
  }
}