@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

html {
  scroll-behavior: smooth;
}

.btl-App {
  background-color: #282c34;
  background-color: white;
}

.btl-NaviagtionLink-Container {
  float: right;
  font-size: 1.5em;

  a {
    margin-left: 1.5em;
  }
}

.btl-Divider {
  width: 50%;
}