.btl-jumbotron-description-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .btl-jumbotron-description {
    font-size: 2em;
    line-height: 1.7;
    color: white;
    font-weight: 600;
    width: 35em;
  }
}
