@import '../../shared/palette.scss';

.btl-Footer-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 2em;
  color: white;
  background-color: $color9;
  margin-top: 6em;

  .btl-Footer-Row1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;

    span {
      padding: 0em;
      margin-left: 2em;
      color: white;
    }


  }

  .btl-Footer-Row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 0em 15em;
  }

  .btl-Footer-Row2-Left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .btl-Footer-Row2-Right {

  }

  .btl-Footer-Summary {
    font-family: 'Varela', sans-serif;
    width: 25em;

    .btl-Footer-Summary-Title {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold;
    }

    .btl-Footer-Summary-Description {
      margin-top: 1.5em;
    }

    .btl-Footer-Summary-Items {
      display: flex;
      flex-direction: column;
      margin-top: 1.5em;

      a {
        width: fit-content;
        color: white;
        cursor: pointer;
      }

      a:hover {
        color: white;
      }
    }

    .btl-Footer-Summary-Item {
      margin-top: 0.5em;
    }

    .btl-Footer-Summary-SocialContainer {
      display: flex;
      width: 100%;
      margin-top: 1.5em;

      svg {
        margin-right: 3.5em;
      }
    }
  }

  .btl-Footer-Tail {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 2em 0em 0em 2em;
    margin-top: 2em;

    .btl-Footer-CopyRight {

    }

    .btl-Footer-TailLinks {
      width: 70%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.btl-connect-button {
  cursor: pointer;
}
