.btl-Card {
  perspective: 1000px;

  
  .btl-CardShine {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  
  .btl_CardTitle {
    margin: 0;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;

  }

  .btl-CardImage {
    width: 20em;
    height: 30em;
    object-fit: cover;
  }
}
