.btl-shopcard {
  min-width: 20em;
  max-width: 25em;
  border-radius: 0.8em;
  box-shadow: 5px 8px 20px rgba(13, 55, 89, 0.5);
  margin: 3em;

  .btl-shopcard-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
  }

  .btl-shopcard-body {
    height: 5em;
  }
}

.btl-shopcard-buynow {

}