@import '../../../shared/palette.scss';

.btl-shopcard {
  font-family: "Barlow";
  min-width: 20em;
  max-width: 22em;
  border-radius: 0.8em;
  box-shadow: 5px 8px 20px rgba(13, 55, 89, 0.5);
  margin: 3em;
  margin-top: 5em;

  .btl-shopcard-head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  .btl-shopcard-body {
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btl-shopcard-title {
      padding: 0.5em;
      color: $color8;
      font-size: 2em;
    }

    .btl-shopcard-description {
      padding: 0.5em 1em;
      color: $color8;
    }
  }
}

.btl-shopcard-buynow {

}